.lien {
  text-decoration: none;
  color: inherit;
}

.lien:hover {
  text-decoration: none;
  color: orange;
}

.divcontact {
  text-align: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
  margin: 140 auto;
  width: 80%;
  padding: 20px;
}

svg.svg-inline--fa.fa-linkedin.text-primary,
svg.svg-inline--fa.fa-github.text-primary,
svg.svg-inline--fa.fa-envelope.text-primary {
  height: 25;
}

.divcontact > p {
  color: red;
  p
}
