#content {
  width: 100%;
  min-height: 100vh;
  transition: all 0.3s;
  margin-top: 2%;
  text-align: center;
}

body {
  overflow: hidden;
}

.logo-presentation {
  height: 20%;
  margin: 30px;
  border-radius: 50%;
  border: 1em black;
}

.parcours {
  text-align: center;
  color: purple;
  margin-left: 20px;
  margin-top: -20px;
}

.textparcours {
  color: black;
}
