#content {
  width: 100%;
  min-height: 100vh;
  transition: all 0.3s;
  text-align: center;
}

body {
  overflow: hidden;
}

.logo-presentation {
  height: 20%;
  margin: 30px;
  border-radius: 50%;
  border: 1em black;
}

.text-presentation {
  margin: 0 100px 0 100px;
}
