@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
.body {
  font-family: "Poppins", sans-serif;
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #e5e5f7 10px
    ),
    repeating-linear-gradient(#8ea6c755, #8ea6c7);
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

.bodyaccueil {
  background-image: url("../img/wp2234604.jpg");
  font-family: "Poppins", sans-serif;
  opacity: 0.8;
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: no-repeat;
  overflow-x: hidden;
  overflow-y: hidden;
}

@keyframes showTopText {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  40%,
  60% {
    transform: translate3d(0, 50%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes showBottomText {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
.animated-title {
  color: #b0f2b6;
  font-family: "Poppins", sans-serif;
  height: 90vmin;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90vmin;
  margin-top: 60px;
}
.animated-title > div {
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.animated-title > div div {
  font-size: 12vmin;
  padding: 2vmin 0;
  position: absolute;
}
.animated-title > div div span {
  display: block;
}
.animated-title > div.text-top {
  border-bottom: 1vmin solid #22427c;
  top: 0;
}
.animated-title > div.text-top div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}
.animated-title > div.text-top div span:first-child {
  color: #22427c;
}
.animated-title > div.text-bottom {
  bottom: 0;
}
.animated-title > div.text-bottom div {
  animation: showBottomText 0.5s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}

.color li {
  background-color: white !important;
}

.titre {
  color: orangered;
  text-align: center;
  margin: 20px;
}

.presentationglobale {
  background-color: white;
  border-radius: 10px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  width: 80%;
  padding: 10px;
}

.titrepresentation {
  color: orange;
  text-align: center;
  margin: 20px;
}

.optionA {
  float: left;
  background-color: white;
  width: 40%;
  padding: 10px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin: 0 20px 0 120px;
}

.optionB {
  float: left;
  background-color: white;
  width: 40%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
}
