.maindiv {
  text-align: center;
}

table,
tr,
td {
  border: 1px solid #333;
  padding: 10px;
}

th {
  text-align: center;
}

table {
  margin: 5px 10px 0 10px;
}

.news {
  background-color: whitesmoke;
  border-radius: 5%;
  padding: auto;
  width: 20%;
  margin: 10px;
  float: left;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
}

.news > img {
  width: 70%;
}

.news > p {
  font-size: 13px;
  margin-top: 5px;
}

.newsflex {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}

.lien {
  text-decoration: none;
  color: inherit;
}

.lien:hover {
  text-decoration: none;
  color: orange;
}
